.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  max-width: 200px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .title {
    font-weight: 900;
  }
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.todos {
  flex-grow: 1;
  background-color: #F5F5E9;

  .todos__inner {
    margin: 0 auto;
    max-width: 1024px;
  }

  .todos__button {
    background-color: green;
    padding: 16px;
    display: inline-block;
    border: 1px solid green;
    box-shadow: none;
    outline: none;
    appearance: none;
    border-radius: 5px;
    margin: 16px 0;
    color: white;
    font-weight: bold;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      border-radius: 5px;
      display: flex;
      background-color: white;
      padding: 16px;
      margin-bottom: 16px;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  .todo-title,
  .todo-desc {
    margin-top: 0;
  }

  .todo-desc {
    margin-bottom: 0;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .todo-actions {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    gap: 10px;
    
    button {
      cursor: pointer;
      padding: 0;
      border: none;
      background-color: transparent;

      &:hover {
        svg {
          color: green;
        }
      }

      svg {
        font-size: 20px;
      }
    }
  }
}