.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  max-width: 200px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .title {
    font-weight: 900;
  }
}

.container {
  max-width: 1280pt;
  margin: 0 auto;
  padding: auto;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  padding: 15px;
}

.main-content {
  background-color: #eaebec;
  
}

.add-todo {
  margin: auto ;
  width: 50%;
}

.add-button {
  margin: 20px 0;
  font-size: 20px;
  max-width: 25%;
  padding: 10px;
  background-color: #40dab4;
  border: none;
  border-radius: 5px;
  color: white;
}

.todo-list {
  background-color: rgb(226, 226, 226);
  list-style-type: none;
  padding: 1px 0;
  margin: auto ;
  width: 50%;
}

.todo-items {
  display: flex;
  background-color: white;
  margin: 15px;
}

.todo-content {
  width: 80%;
  padding: 0 10px;
}

.todo-content h3 {
  margin: 10px 0 0;
}

.todo-content p {
  font-size: 15px;
  color: gray;
}

.todo-icon-actions {
  width: 20%;
  text-align: right;
  margin: 10px 0 0;
}

.icon {
  border: none;
  background-color: inherit;
  font-size: 16px;
}